<div class="lg:w-3/12 mt-40 p-10 shadow-lg  mx-auto">
    <h3 class="text-3xl text-center font-semibold py-5">Reset Password</h3>
    <form [formGroup]="resetForm" class="flex flex-col">
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="password" class="p-2 border border-gray-300 rounded" type="password"
                placeholder="Password">
            <span *ngIf="resetForm.hasError('required','password') && resetForm.controls['password'].dirty"
                class="text-red-500">*Password is required</span>
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="confirmPassword" class="p-2 border border-gray-300 rounded" type="password"
                placeholder="Confirm Password">
            <span
                *ngIf="resetForm.hasError('required','confirmPassword') && resetForm.controls['confirmPassword'].dirty"
                class="text-red-500">*Confirm Password is required</span>
            <span *ngIf="resetForm.hasError('confirmpasswordValidator','confirmPassword')"
                class="text-red-500">*Password didn't matched</span>
        </div>
        <button [disabled]="resetForm.invalid" [class.disable]="resetForm.invalid"
            class="mt-2 p-2 bg-green-600 rounded text-white" (click)="reset()">Reset</button>
    </form>
</div>