<nav class="w-full p-3 flex justify-between items-center bg-green-600 shadow-lg">
    <div class="logo">
        <span class="text-gray-200 text-4xl flex justify-start items-center">Books</span>
    </div>
    <div class="search relative">
        <span class="absolute mt-1.5 mx-3"><i class="fa fa-search font-light" aria-hidden="true"></i></span>
        <input type="text" placeholder="Search Book"
         class="w-96 p-2 pl-9 rounded rounded-r-none text-gray-600">
         <button class="bg-slate-400 p-2 rounded-r text-white outline-none outline-0">search</button>
    </div>
    <div class="nav-items">
        <span class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-green-200">Login</span>
        <span class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-green-200">Register</span>
        <span class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-green-200">Cart</span>
        <span class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-green-200">Welcome User</span>
        <span class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-green-200">Logout</span>
    </div>
</nav>