<div class="lg:w-3/12 mt-5 p-10 shadow-lg  mx-auto">
    <h3 class="text-3xl text-center font-semibold py-5">Forget Password</h3>
    <form [formGroup]="forgetPasswordForm" class="flex flex-col">
        <span class="mb-4 text-slate-500">
            Enter your email and we'll send to you instruction how to reset ur password.
        </span>
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="email" class="p-2 border border-gray-300 rounded" type="text" placeholder="Email">
            <span *ngIf="forgetPasswordForm.hasError('required','email') && forgetPasswordForm.controls['email'].dirty"
                class="text-red-500">*Email is required</span>
            <span *ngIf="forgetPasswordForm.hasError('email','email')" class="text-red-500">*Email is Invalid</span>
        </div>
        <div>
            <button [disabled]="forgetPasswordForm.invalid" [class.disable]="forgetPasswordForm.invalid"
                class="mt-2 p-2 bg-green-600 rounded text-white" (click)="sendMail()">send mail</button>
                <button [disabled]="forgetPasswordForm.invalid" [class.disable]="forgetPasswordForm.invalid"
                class="ml-2 mt-2 p-2 bg-gray-600 rounded text-white" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>